@CHARSET "UTF-8";

.topDiag{
	display:block;
	position:relative;
	clear:both;
	background: url("../images/diagonal.png");
	width:100%;
	height:8px;
}

.header-ct{
	display:block;
	position:fixed;
	top:0px !important;
	clear:both;
	width:100%;
	height:72px;
	overflow:visible;
	background: #404041;
	margin:0px 0px 8px 0px;
}

.logo{
	background: #404041;
	width:159px;
	height:64px;
	float:left;
	border-right:2px solid #fff;
	padding:20px 24px 0px 24px;
}

.nav-ct{
	display:block;
	position:relative;
	background:#231f20;
	height:64px;
	overflow:visible;
	padding-left:80px;
	float:right;
}

.primary-navigation{
	display:block;
	position:relative;
	float:left;
}

.menu-primary-container{
	display:inline-block;
	position:relative;
	overflow:visible;
	padding:0px 14px 0 0;
	float:left;
	border-right:2px solid #fff;
	height:64px;
}

.nav-menu{
	display:inline-block;
	position:relative;
	overflow:visible;
	float:left;
}
.nav-ct ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

.nav-ct ul li, ul.nav-ct li{
	float:left;
	padding:8px 12px;
}

.nav-ct ul li a{
	color:#fff;
	text-decoration:none;
	font-family: 'MuseoSans-500';
}

.nav-ct .sub-menu,
.nav-ct .children {
	background: #220e10;
	border:none;
	padding: 0;
	position: absolute;
	z-index: 99999;
	padding-left:0px;
}

.utility-nav-ct{
	display:inline-block;
	position:relative;
	float:right;
}

.utility-nav{
	display:inline-block;
	position:relative;
	float:left;
	width:64px;
	height:64px;
	border-right:2px solid #fff;
	background:#c3bd06;
}

/* Primary Navigation */


	.primary-navigation .menu-toggle {
		display: none;
		padding: 0;
	}

	.primary-navigation .nav-menu {
		border-bottom: 0;
		display: block;
	}

	.primary-navigation.toggled-on {
		border-bottom: 0;
		margin: 0;
		padding: 0;
	}

	.primary-navigation li {
		border: 0;
		display: inline-block;
		height: 64px;
		line-height: 48px;
		position: relative;
	}

	.primary-navigation a {
		display: inline-block;
		padding: 0 12px;
		white-space: nowrap;
	}

	.primary-navigation ul ul {
		background-color: #24890d;
		float: left;
		margin: 0;
		position: absolute;
		top: 64px;
		left: -999em;
		z-index: 99999;
	}

	.primary-navigation li li {
		border: 0;
		display: block;
		height: auto;
		line-height: 1.0909090909;
	}

	.primary-navigation ul ul ul {
		left: -999em;
		top: 0;
	}

	.primary-navigation ul ul a {
		padding: 12px 12px;
		white-space: normal;
		width: 176px;
	}

	.primary-navigation li:hover > a,
	.primary-navigation li.focus > a {
		background:#fff;
		height:64px;
		padding: 8px 12px;
	}

	.primary-navigation ul ul a:hover,
	.primary-navigation ul ul li.focus > a {
	
	}

	.primary-navigation ul li:hover > ul,
	.primary-navigation ul li.focus > ul {
		left: auto;
	}

	.primary-navigation ul ul li:hover > ul,
	.primary-navigation ul ul li.focus > ul {
		left: 100%;
	}

	.primary-navigation .menu-item-has-children > a,
	.primary-navigation .page_item_has_children > a {
		padding-right: 26px;
	}

	.primary-navigation .menu-item-has-children > a:after,
	.primary-navigation .page_item_has_children > a:after {
		/*-webkit-font-smoothing: antialiased;
		content: "\f502";
		display: inline-block;
		font: normal 8px/1 Genericons;
		position: absolute;
		right: 12px;
		top: 22px;
		vertical-align: text-bottom;*/
	}

	.primary-navigation li .menu-item-has-children > a,
	.primary-navigation li .page_item_has_children > a {
		padding-right: 20px;
		width: 168px;
	}

	.primary-navigation .menu-item-has-children li.menu-item-has-children > a:after,
	.primary-navigation .menu-item-has-children li.page_item_has_children > a:after,
	.primary-navigation .page_item_has_children li.menu-item-has-children > a:after,
	.primary-navigation .page_item_has_children li.page_item_has_children > a:after {
		content: "\f501";
		right: 8px;
		top: 20px;
	}


/**********    FOOTER STYLES     **********/

.footer-ct{
	display:block;
	width:100%;
	height:64px;
	border-top:2px solid #fff;
	background:#404041;
}

.footer-text{
	display:block;
	background:url(../images/saw_footer.png) no-repeat;
	background-position: 0% 50%;
	padding:24px 0px 0px 32px;
	color:#fff;
	font-family: 'MuseoSlab-300';
	font-size:14px;
	height:64px;
}