@CHARSET "UTF-8";

.outer-wrapper{
	display:block;
	position:relative;
	max-width:100%;
	width:100%;
	margin:0;
	overflow:hidden;
}

.wrapper{
	display:block;
	position:relative;
	max-width:1200px;
	width:100%;
	margin:0 auto;
}


.archived-newsletter-wrapper{
	display:block;
	position:relative;
	max-width:550px;
	width:100%;
	margin:0 auto;
}


.row{
	display:block;
	overflow:hidden;
}

 
.scroller{
		display:block;
		postition:relative;
		overflow:hidden;
		max-height:100%;
	}


 

/******************************  HEADER STYLES  ******************************/


.up{
	margin-top:-96px;
}



	.site-header{
		padding:12px 24px 0px 24px;
		background:#fff;
		margin:0 0 24px 0;
	}
	
	.logo{
		width:184px;
		float:left;
		padding:18px 24px 0px 0px;
	}

/********  NAVIGATION LAYOUT STYLES *********/

/******************************  NAVIGATION STYLES  ******************************/

.utility-box{
	display:inline-block;
	position:relative;
	overflow:hidden;
	width:25%;
	float:left;
	padding:32px;
	background-color:#F1F1F2;
	min-height:300px;
	}

.nav-ct{
	display:block;
	position:relative;
	height:64px;
	overflow:visible;
	padding:0px;
	float:right;
}

.primary-navigation{
	display:block;
	position:relative;
	float:right;
}
	
.menu-primary-container ul{
	margin:0px;
}
	
.nav-menu{
	display:inline-block;
	position:relative;
	overflow:visible;
	float:left;
}
	
.nav-ct .sub-menu, .nav-ct .children {
	background: #fff;
	border:none;
	padding: 0;
	position: absolute;
	z-index: 99999;
	padding-left:0px;
	margin-left:0px;
}
	
.utility-nav-ct{
	display:inline-block;
	position:relative;
	float:right;
	z-index: 999;
	padding:16px 0 0 0;
}
	
.utility-nav{
	display:inline-block;
	position:relative;
	float:left;
	width:32px;
	height:32px;
	background:#000;
	cursor:pointer;
	border-radius:50%;
	margin:0 0 0 8px;
}



.utility-panel{
	display:inline-block;
	position:relative;
	overflow:hidden;
	float:left;
	height:64px;
	z-index:900;
	width:0px;
}

.utility-panel-inner{
	display:inline-block;
	position:relative;
	overflow:hidden;
	height:64px;
	width:auto;
	white-space: nowrap;
}

#phone-panel-inner{
	display:inline-block;
	position:relative;
	overflow:hidden;
	font-family:'MuseoSlab-100', sans-serif;
	color:#000;
	font-size:20px;
	padding:4px 16px 0 8px;
	text-align:center;
}

#phone-panel{
	height:32px;
}
	
#links-panel, .links-panel-inner{
	display:inline-block;
	position:relative;
	overflow:hidden;	
}
	
.header-social-icons-ct{
	display:inline-block;
	position:relative;
	overflow:hidden;
	padding:8px 0 0 8px;
}
/*****     EXPANDING SUBMENU     *****/

nav#submenu{
    display: block;
    overflow: hidden;
    float:right;
}

a#bt-submenu{
	display:block;
}

.sub-nav-menu-ct{
	display:block;
	overflow:hidden;
	top: 124px;
	padding:32px;
}
}	
.sub-nav-menu-ct:before{
	height:72px;
	width:100%;
	background:#404041;
	border-bottom:8px solid #fff;
}
	
.nav-open{
	display:block;
}
.primary-navigation .menu-item-has-children li.menu-item-has-children > a:after,
.primary-navigation .menu-item-has-children li.page_item_has_children > a:after,
.primary-navigation .page_item_has_children li.menu-item-has-children > a:after,
.primary-navigation .page_item_has_children li.page_item_has_children > a:after {
	content: "\f501";
	right: 8px;
	top: 20px;
}

.submenu-ct{
	display:block;
	float: right;
	overflow:hidden;
	position:relative;
	width:10%;
}
	.bt-submenu{
	display:block;
	width:40px;
	height:40px;
	margin:0;
	padding: 5px 0px 0px 1px;
	position:absolute;
	top:24px;
	right:0px;
	z-index:9999;
	color:#fff;
	text-align:center;
	border-radius:50%;
}
	.inline-nav-ct{
	display:block;
	position:relative;
	width:100%;
	clear:both;
}

.primary-navigation ul ul {
	background-color: #fff;
	float: left;
	margin: 0;
	position: absolute;
	top: 64px;
	left: -999em;
	z-index: 99999;
	margin:0 0 0 -12px;
}

.primary-navigation li li {
	border: 0;
	display: block;
	height: auto;
	line-height: 1.0909090909;
	border-bottom:1px solid #000 !important;
	padding:0px !important;
}
	
.primary-navigation li li a {
	color:#000 !important;
}

.primary-navigation li li:first-of-type {
	border-top:1px solid #000;
}
	
.primary-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.primary-navigation ul ul a {
	padding: 12px 12px;
	white-space: normal;
	width: 176px;
}

.primary-navigation li .menu-item-has-children > a, .primary-navigation li .page_item_has_children > a {
	padding-right: 20px;
	width: 168px;
}


/* Primary Navigation */

.primary-navigation .menu-toggle {
	display: none;
	padding: 0;
}

.primary-navigation .nav-menu {
	border-bottom: 0;
	display: block;
	padding:0px 0px 0 0;
}

.primary-navigation.toggled-on {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}





/******************************  PAGINATION STYLES  ******************************/
.post-navigation{
	max-width:85%;
	margin:0 auto !important;
}
.nav-links a{
	font-size:.75em;
	color:#BD007A;
}

.nav-previous, .nav-next{
	padding-top:4px;
}

/******************************  PAGE HEADLINE POSITIONING STYLES  ******************************/	

.home .headline-ct{
	height:300px;
}
	
.headline-ct{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
}
	

/******************************  MASONRY PACKERY GRID STYLES  ******************************/


.grid, .grid-g-0, .Bgrid-g-0, .grid-g-2, .Bgrid-g-2, .case-grid, .post-grid, .client-logo-grid{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0px auto;
	/*background: url("../images/diag_dkGry.png");*/
}

.post-grid{
	background:#fff;
	padding:32px;
}
	

.grid-item, .case-grid-item{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
}

.grid-item img, .case-grid-item img{
	width:100%;
	display:block;
}


/********  landing page and case study standard grid widths - No Gutter - *********/


.grid-g-0 .grid-gutter, .Bgrid-g-0 .grid-gutter{
	width:0%;
	height:0%
}

.grid-g-0 .grid-item-w-25, .Bgrid-g-0 .grid-item-w-25{
	width:25%;
	
}
	
.grid-g-0 .grid-item-w-33, .Bgrid-g-0 .grid-item-w-33, .grid-item-w-33b{	
	width:33.33%;
}
	
.grid-g-0 .grid-item-w-40, .Bgrid-g-0 .grid-item-w-40{
	width:40%;
}
	
.grid-g-0 .grid-item-w-50, .Bgrid-g-0 .grid-item-w-50{
	width:50%;
}
	
.grid-g-0 .grid-item-w-67-g0, .Bgrid-g-0 .grid-item-w-67-g0, .grid-item-w-67b{
	width:66.7%;
}
	
.grid-g-0 .grid-item-w-75, .Bgrid-g-0 .grid-item-w-75, .grid-g-0  .grid-item-w-75b{
	width:75%;
	float:left;
}
	
.grid-g-0 .grid-item-w-100, .Bgrid-g-0 .grid-item-w-100{
	width:100%;
}


.grid-item-w-25{
	width:25%;
	float:left;
}
	
.grid-item-w-33, .grid-item-w-33b{	
	width:33.33%;
}
	
.grid-item-w-40{
	width:40%;
}
	
.grid-item-w-50{
	width:50%;
}
	
.grid-item-w-67, .grid-item-w-67b{
	width:66.7%;
}
	
.grid-item-w-75, .grid-item-w-75b{
	width:75%;
	float:left;
}
	
.grid-item-w-100{
	width:100%;
}

.grid-gutter{
	width:0%;
	height:0%
}


/********  landing page and case study standard grid widths - 2% Gutter - *********/
.grid-g-2{
	padding:2%;
	margin-bottom:32px;
}

.grid-g-2 .grid-gutter{
	width:2%;
}

.grid-g-2 .grid-item-w-25{
	width:23%;
	
}
	
.grid-g-2 .grid-item-w-33, .grid-item-w-33b{	
	width:30.33%;
}
	
.grid-g-2 .grid-item-w-40{
	width:38%;
}
	
.grid-g-2 .grid-item-w-50{
	width:47%;
}
	
.grid-g-2 .grid-item-w-67, .grid-item-w-67b{
	width:63.7%;
}
	
.grid-g-2 .grid-item-w-75-g0, .grid-item-w-75b{
	width:73%;
	float:left;
}
	
.grid-g-2 .grid-item-w-100-g0{
	width:100%;
}

/********  landing page and case study standard grid widths - 3% Gutter - *********/
.grid-g-3{
	padding:3%;
	margin-bottom:32px;
}

.grid-g-3 .grid-gutter{
	width:3%;
}

.grid-g-3.grid-item-w-25{
	width:22%;
	
}
	
.grid-g-3 .grid-item-w-33, .grid-item-w-33b{	
	width:33.33%;
}
	
.grid-g-3 .grid-item-w-40{
	width:37%;
}
	
.grid-g-3 .grid-item-w-50{
	width:45%;
}

.aRight img{
	float:right;
	margin-right:32px;
	text-align:center;
}	
.grid-g-3 .grid-item-w-67, .grid-item-w-67b{
	width:62.7%;
}
	
.grid-g-3 .grid-item-w-75, .grid-g-3  .grid-item-w-75b{
	width:72%;
	float:left;
}
	
.grid-g-3 .grid-item-w-100-g0{
	width:100%;
}



/********  posts grid widths - *********/

.post-grid-item-w-25{
	width:27%;
}

.post-grid-item-w-33{
	width:30%;
}

.post-grid-gutter{
	width:5%;
}

/********  client logos grid widths - *********/

.cases-grid{
	background:#fff;
}
.case-grid-item{
	margin:0 0 0px 0;
}
.case-grid-item-w-25{
	width:20%;
}

.case-grid-item-w-33{
	width:30%;
}

.case-grid-gutter{
	width:3.5%;
}





/********  for isotope grid  *********/

.stamp{
	display:block !important; 
	position:relative !important; 
	clear:both;
	float:none;
}

/********  SIDEBAR STYLES  *********/

.sidebar-item{
	padding:12px;
	text-align:center;
}

/******************************    ******************************/	
/******************************  PAGE SPECIFIC STYLES  ******************************/
/******************************    ******************************/	

/******************************  POST PAGES SPECIFIC STYLES  ******************************/

	.post-list-ct{
		display:block;
		position:relative;
		overflow:hidden;
		padding: 0px 5% 0px 0;
		width:100%;

	}
	
	.post-list-inner{
			display:block;
			position:relative;
			float:left;
			margin-right:8px;
			overflow:hidden;
			width:100%;
	}


/******************************  CLIENTS PAGE STYLES  ******************************/

.client-logo-ct{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;	
}

.client-logo{
	display:block;
	position:relative;
	overflow:hidden;
	max-width:200px;
	max-height:200px;
	z-index:50;
	padding:8px;
}

.client-logo-border{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	border:1px solid #ddd;
	border-radius:50%;
	z-index:100;
	padding:0px;
}

.client-logo img{
	width:100%;
}


.clients-body-ct, .cases-body-ct{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:100;
}

.clients-text-ct, .cases-text-ct{
	display:block;
	position:relative;
	overflow:hidden;
	width:55%;
	float:left;
}

.clients-text, .cases-text{
	display:block;
	position:relative;
	overflow:hidden;
	max-width:700px;
	float:left;
	padding:64px;
	font-size:1.25em;
}

.clients-image-ct{
	display:block;
	position:absolute;
	bottom:0px;
	right:0px;
	overflow:hidden;
	width:45%;
	padding:0px;
	background-size:cover;
}

.clients-image-ct img{
	display:block;
	float:right;
	width:100%;
	opacity:0;
}

.clients-body-ct{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
}

.clients-grid-header-bk{
	display:block; 
	position:absolute; 
	overflow:hidden; 
	background:#ccc; 
	height:240px; 
	width:100%;
	bottom:0px;
	right:0px;
	opacity:.5;
}

.clients-grid-header{
	display:block;
	position:relative;
	overflow:hidden;
	bottom:0px;
	right:0px;
	width:100%;
	text-align:center;
	padding:60px 0;
	z-index:999;
}

.client-logo-grid{
	max-width:900px;
	margin:0 auto;
	padding:64px 0 0 64px;
}

.client-logo-grid .case-grid-item{
	margin: 16px 0;
}


/******************************  CASE STUDY STYLES  ******************************/

.case-study{
	background:#f1f2f1;
}

.case-study .services-outer{
	display:block;
	position:relative;
	overflow:hidden;
	background:#DB4F26;
	padding:32px;
	color:#fff;
	margin: 0 0 64px 0;
}

.case-study .services-inner{

	color:#fff;
}
	
.highlight-ct{
	width:100%;
	display:table;
	height:100%;
	min-height:200px;
}


.case-highlight-ct{
	width:100%;
	display:block;
	position:relative;
	padding:40px;
}



/******************************  PEOPLE POST TYPE STYLES  ******************************/


.contact-box-outer{
	display:block;
	position:relative;
	overflow:hidden;
	width: 25%;
	background-color:#DB4F26;
}

.follow-box-outer, .fact-box-outer {
	width:25%;
}

.people-fun-box-inner{
	padding:0px;
	display:block;
	position:relative;
}

/******************************  NEWSLETTER PAGE STYLES  ******************************/ 

.newsletter-page-left{
	width:75%;
	float:left;
}

.newsletter-page-right{
	width:25%;
	float:right;
	background:#000;
}

.newsletter-ct{
	clear:both;
	display:block;
	overflow:hidden;
	position:relative;
	background:#fff;
	
}

.newsletter-content-ct{
	padding:0px 0px 0px 0px;
}

.newsletter-top{
	width:100%;
	overflow:hidden;
	background:#000;
	height:40px;
}
.newsletter-header{
	display:block;
	position:relative;
	width:100%;
	background:#fff;
	overflow:hidden;
	padding:32px;
}



.newsletter-footer{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	height:8px;
	background:#006889;
}


/******************************  ARTICLES STYLES  ******************************/


.posts-ct, .logos-ct{
	display:inline-block;
	position:relative;
	overflow:hidden;
	width:75%;
	float:left;
}

	
/******************************  FOOTER STYLES  ******************************/ 
.site-footer{
	margin:0 !important;
	clear:both;
}
	
.footer-ct{
	display:block;
	width:100%;
	height:120px;
	background:#000;
	margin:0px 0 0 0;
		
}
	



	/******************************  TEXT VERTICAL CENTERING  ******************************/
	
	.vert-center-outer{
		display:table;
		position:relative;
		overflow:hidden;
		width:100%;
		height:100%;
		padding:8px;
	}

	.vert-center-inner{
		display:table-cell;
		position:relative;
		overflow:hidden;
		vertical-align:middle;
	}


	
