RewriteOptions inherit

RewriteCond %{HTTP_HOST} ^renegadellc\.wpengine\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.renegadellc\.wpengine\.com$
RewriteCond %{HTTP_HOST} ^.*$

RewriteRule ^case\-nolet$ "http\:\/\/renegadellc\.wpengine\.com\/projects\/nolet\-spirits\/" [R=301,L]
RewriteRule ^case\-ubisoft$ "http\:\/\/renegadellc\.wpengine\.com\/projects\/ubisoft\-hells\-highway\-launch\/" [R=301,L]
RewriteRule ^case\-toasted$ "http\:\/\/renegadellc\.wpengine\.com\/projects\/toasted\-head\/" [R=301,L]
RewriteRule ^case\-panasonic_ast$ "http\:\/\/renegadellc\.wpengine\.com\/projects\/panasonic\-share\-the\-air\/" [R=301,L]
RewriteRule ^case\-panasonic_oxyride$ "http\:\/\/renegade\.com\/projects\/panasonic\-oxyride\/" [R=301,L]
RewriteRule ^case\-hsbc$ "http\:\/\/renegadellc\.wpengine\.com\/case\-hsbc" [R=301,L]
RewriteRule ^case\-bluefly$ "http\:\/\/renegadellc\.wpengine\.com\/case\-studies\/" [R=301,L]
RewriteRule ^case\-doubleclick$ "http\:\/\/renegadellc\.wpengine\.com\/case\-studies\/" [R=301,L]
RewriteRule ^case\-gildas$ "http\:\/\/renegadellc\.wpengine\.com\/case\-studies\/" [R=301,L]
RewriteRule ^case\-blurts$ "http\:\/\/renegadellc\.wpengine\.com\/case\-studies\/" [R=301,L]
RewriteRule ^case\-cablevision$ "http\:\/\/renegadellc\.wpengine\.com\/case\-studies\/" [R=301,L]
RewriteRule ^case\-nolet\/$ "http\:\/\/renegadellc\.com\/projects\/nolet\-spirits" [R=301,L]
RewriteRule ^case\-panasonic_ast\/$ "http\:\/\/renegade\.com\/case\-studies" [R=301,L]
RewriteRule ^case\-ubisoft\/$ "http\:\/\/renegade\.com\/case\-studies" [R=301,L]
RewriteRule ^case\-panasonic_oxyride\/$ "http\:\/\/renegade\.com\/projects\/panasonic\-oxyride" [R=301,L]
RewriteRule ^case\-hsbc\/$ "http\:\/\/renegade\.com\/projects\/hsbc\-bank\-cab" [R=301,L]


RewriteRule ^cut\-jan2016$ "http\:\/\/renegade\.com\/newsletters\/2016\-clear\-the\-air" [R=301,L]
RewriteRule ^cut\-feb2016$ "http\:\/\/renegade\.com\/newsletters\/how\-the\-cool\-cats\-cut\-through" [R=301,L]
RewriteRule ^cut\-mar2016$ "http\:\/\/renegade\.com\/newsletters\/social\-media\-a\-heroic\-sidekick" [R=301,L]
RewriteRule ^cut\-apr2016$ "http\:\/\/renegade\.com\/newsletters\/the/-real/-story/-on/-storytelling" [R=301,L]
RewriteRule ^cut\-may2016$ "http\:\/\/renegade\.com\/newsletters\/its\-time\-to\-focus\-on\-video" [R=301,L]
RewriteRule ^cut\-jun2016$ "http\:\/\/renegade\.com\/newsletters\/smexit\-a\-brave\-new\-social\-order" [R=301,L]
RewriteRule ^cut\-jul2016$ "http\:\/\/renegade\.com\/newsletters\/look\-ma\-were\-publishers" [R=301,L]
RewriteRule ^cut\-aug2016$ "http\:\/\/renegade\.com\/newsletters\/5\-books\-that\-made\-the\-cut" [R=301,L]
RewriteRule ^cut\-sep2016$ "http\:\/\/renegade\.com\/newsletters\/5\-stellar\-ideas\-to\-escalate\-your\-enterprise" [R=301,L]
RewriteRule ^cut\-oct2016$ "http\:\/\/renegade\.com\/newsletters\/7\-myths\-about\-influencer\-marketing\-busted" [R=301,L]
RewriteRule ^cut\-nov2016$ "http\:\/\/renegade\.com\/newsletters\/creating\-content\-that\-cuts\-through" [R=301,L]
RewriteRule ^cut\-dec2016$ "http\:\/\/renegade\.com\/newsletters\/nurturing\-an\-unstoppable\-marketing\-machine" [R=301,L]

RewriteRule ^cut\-jan2015$ "http\:\/\/renegade\.com\/newsletters\/5\-resolutions\-for\-cmos\-in\-15" [R=301,L]
RewriteRule ^cut\-feb2015$ "http\:\/\/renegade\.com\/newsletters\/the\-high\-cs\-of\-creativity" [R=301,L]
RewriteRule ^cut\-mar2015$ "http\:\/\/renegade\.com\/newsletters\/social\-inspired\-marketing" [R=301,L]
RewriteRule ^cut\-apr2015$ "http\:\/\/renegade\.com\/newsletters\/take\-a\-walk\-on\-the\-audacious\-side" [R=301,L]
RewriteRule ^cut\-may2015$ "http\:\/\/renegade\.com\/newsletters\/one\-of\-a\-kind" [R=301,L]
RewriteRule ^cut\-aug2015$ "http\:\/\/renegade\.com\/newsletters\/up\-with\-sharing" [R=301,L]
RewriteRule ^cut\-sep2015$ "http\:\/\/renegade\.com\/newsletters\/read\-really\-exciting\-authors\-delight" [R=301,L]
RewriteRule ^cut\-oct2015$ "http\:\/\/renegade\.com\/newsletters\/customer\-care\-the\-new\-super\-people" [R=301,L]


RewriteRule ^cut\-jan2014$ "http\:\/\/renegade\.com\/newsletters\/the\-realities\-of\-real\-time\-marketing" [R=301,L]
RewriteRule ^cut\-feb2014$ "http\:\/\/renegade\.com\/newsletters\/ramping\-up\-your\-content\-game" [R=301,L]
RewriteRule ^cut\-mar2014$ "http\:\/\/renegade\.com\/newsletters\/mobile\-madness" [R=301,L]
RewriteRule ^cut\-apr2014$ "http\:\/\/renegade\.com\/newsletters\/facing\-up\-to\-facebook" [R=301,L]
RewriteRule ^cut\-may2014$ "http\:\/\/renegade\.com\/newsletters\/rethinking\-loyalty" [R=301,L]
RewriteRule ^cut\-jun2014$ "http\:\/\/renegade\.com\/newsletters\/marketing\-as\-service\-rides\-on" [R=301,L]
RewriteRule ^cut\-jul2014$ "http\:\/\/renegade\.com\/newsletters\/wow\-thats\-weird" [R=301,L]
RewriteRule ^cut\-aug2014$ "http\:\/\/renegade\.com\/newsletters\/moving\-ideas" [R=301,L]
RewriteRule ^cut\-sep2014$ "http\:\/\/renegade\.com\/newsletters\/new\-numbers\-for\-2015" [R=301,L]
RewriteRule ^cut\-nov2014$ "http\:\/\/renegade\.com\/newsletters\/6\-new\-rules\-for\-social\-media\-and\-content\-marketing" [R=301,L]
RewriteRule ^cut\-dec2014$ "http\:\/\/renegade\.com\/newsletters\/food\-for\-thought" [R=301,L]


RewriteRule ^cut\-dec2013$ "http\:\/\/renegade\.com\/newsletters\/getting\-social\-in\-2014" [R=301,L]
RewriteRule ^cut\-nov2013$ "http\:\/\/renegade\.com\/newsletters\/stuffing\-you\-with\-insights" [R=301,L]
RewriteRule ^cut\-oct2013$ "http\:\/\/renegade\.com\/newsletters\/not\-so\-scary\-social\-stuff" [R=301,L]
RewriteRule ^cut\-sep2013$ "http\:\/\/renegade\.com\/newsletters\/back\-to\-school" [R=301,L]
RewriteRule ^cut\-jan2013$ "http\:\/\/renegade\.com\/newsletters\/10\-bold\-moves\-for\-2013" [R=301,L]
RewriteRule ^cut\-feb2013$ "http\:\/\/renegade\.com\/newsletters\/cutting\-through\-in\-2013" [R=301,L]
RewriteRule ^cut\-mar2013$ "http\:\/\/renegade\.com\/newsletters\/march\-gladness\-5\-ideas\-you\-cant\-hate" [R=301,L]
RewriteRule ^cut\-apr2013$ "http\:\/\/renegade\.com\/newsletters\/how\-cmos\-sharpen\-their\-saws" [R=301,L]
RewriteRule ^cut\-may2013$ "http\:\/\/renegade\.com\/newsletters\/from\-cmo\-to\-ceo\-in\-one\-knight" [R=301,L]
RewriteRule ^cut\-jun2013$ "http\:\/\/renegade\.com\/newsletters\/dont\-forget\-the\-media\-in\-social\-media" [R=301,L]
RewriteRule ^cut\-jul2013$ "http\:\/\/renegade\.com\/newsletters\/debating\-social\-media\-roi" [R=301,L]
RewriteRule ^cut\-aug2013$ "http\:\/\/renegade\.com\/newsletters\/marrying\-into\-influencer\-marketing" [R=301,L]


RewriteRule ^cut\-nov2012$ "http\:\/\/renegade\.com\/newsletters\/5\-marketing\-myths\-busted\-by\-small\-business\-Saturday" [R=301,L]
RewriteRule ^cut\-oct2012$ "http\:\/\/renegade\.com\/newsletters\/social\-media\-trick\-or\-treat" [R=301,L]
RewriteRule ^cut\-sep2012$ "http\:\/\/renegade\.com\/newsletters\/high\-on\-social\-media" [R=301,L]
RewriteRule ^cut\-jul2012$ "http\:\/\/renegade\.com\/newsletters\/7\-plays\-every\-marketer\-needs" [R=301,L]
RewriteRule ^cut\-jun2012$ "http\:\/\/renegade\.com\/newsletters\/sharpen\-your\-saws" [R=301,L]
RewriteRule ^cut\-may2012$ "http\:\/\/renegade\.com\/newsletters\/you\-oughta\-be\-in\-pictures" [R=301,L]
RewriteRule ^cut\-apr2012$ "http\:\/\/renegade\.com\/newsletters\/social\-media\-fitness" [R=301,L]
RewriteRule ^cut\-mar2012$ "http\:\/\/renegade\.com\/newsletters\/rethinking\-facebook" [R=301,L]
RewriteRule ^cut\-feb2012$ "http\:\/\/renegade\.com\/newsletters\/avoiding\-social\-presbyopia" [R=301,L]
RewriteRule ^cut\-jan2012$ "http\:\/\/renegade\.com\/newsletters\/what\-apps\-can\-teach\-brands" [R=301,L]
RewriteRule ^cut\-dec2011$ "http\:\/\/renegade\.com\/newsletters\/bold\-resolutions" [R=301,L]
RewriteRule ^cut\-nov2011$ "http\:\/\/renegade\.com\/newsletters\/do\-you\-speak\-tweetese" [R=301,L]
RewriteRule ^cut\-oct2011$ "http\:\/\/renegade\.com\/newsletters\/its\-time\-to\-look\-ahead" [R=301,L]
RewriteRule ^cut\-sep2011$ "http\:\/\/renegade\.com\/newsletters\/sink\-your\-teeth\-into\-social\-business" [R=301,L]
RewriteRule ^cut\-aug2011$ "http\:\/\/renegade\.com\/newsletters\/summer\-reading" [R=301,L]
RewriteRule ^cut\-jul2011$ "http\:\/\/renegade\.com\/newsletters\/social\-media\-reality\-check" [R=301,L]
RewriteRule ^cut\-jun2011$ "http\:\/\/renegade\.com\/newsletters\/fighting\-social\-media\-fatigue" [R=301,L]
RewriteRule ^cut\-may2011$ "http\:\/\/renegade\.com\/newsletters\/driving\-revenue\-growth" [R=301,L]
RewriteRule ^cut\-apr2011B$ "http\:\/\/renegade\.com\/newsletters\/social\-media\-mistakes\-how\-to\-fix\-them\-part\-2" [R=301,L]
RewriteRule ^cut\-apr2011A$ "http\:\/\/renegade\.com\/newsletters\/social\-media\-mistakes\-how\-to\-fix\-them\-part\-1" [R=301,L]
RewriteRule ^cut\-mar2011$ "http\:\/\/renegade\.com\/newsletters\/making\-twitter\-work\-for\-you" [R=301,L]
RewriteRule ^cut\-feb2011$ "http\:\/\/renegade\.com\/news\/" [R=301,L]
RewriteRule ^cut\-may2010$ "http\:\/\/renegade\.com\/news\/" [R=301,L]




RewriteRule ^fitness\/$ "http\:\/\/www\.slideshare\.net\/dneisser\/social\-media\-fitness\-study\ " [R=301,L]

RewriteRule ^Portals\/15614\/navigation\/newsnav\.html "http\:\/\/renegade\.com\" [R=301,L]



RewriteRule ^merlin\-ward$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^merlin\-ward\/$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^julia\-zhou$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^julia\-zhou\/$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^melissa\-komadina$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^melissa\-komadina\/$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^people\/linda\-cornelius$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^people\/linda\-cornelius\/$ "http\:\/\/renegade\.com\/leadership" [R=301,L]
RewriteRule ^drew.html "http\:\/\/renegade\.com\/people\/drew\-neisser" [R=301,L]

RewriteRule ^fitness\/$ "http\:\/\/www\.slideshare\.net\/dneisser\/social\-media\-fitness\-study\ " [R=301,L]

RewriteRule ^portals/electronics-as-a-hobby/general-and-misc-2.html$ http://wiki.mkrd.info/Electronics_as_a_Hobby_portal [R=301,L]


redirect 410 /fullbleed/
redirect 410 /social.renegade.com/
redirect 410 /clients/(.*)
redirect 410 /industry_verticals/
redirect 410 /tag/hyperlapse/

ErrorDocument 410 /410-custom/

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


# Wordfence WAF

<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

# END Wordfence WAF

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 78.46.65.36
deny from 5.189.143.39

