@CHARSET "UTF-8";

.nav-ct{
	display:block;
	position:relative;
	height:64px;
	overflow:visible;
	padding:0px;
	float:right;

}

.primary-navigation{
	display:block;
	position:relative;
	float:right;
}

.menu-primary-container ul{
	margin:0px;
}
/*
.menu-primary-container{
	display:inline-block;
	position:relative;
	overflow:visible;
	padding:0px 14px 0 0;
	float:left;
	border-right:2px solid #fff;
	height:64px;
}
*/

.nav-menu{
	display:inline-block;
	position:relative;
	overflow:visible;
	float:left;
}

/*
.nav-ct ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

.nav-ct ul li, ul.nav-ct li{
	float:left;
	padding:8px 12px;
}

.nav-ct ul li a{
	color:#fff;
	text-decoration:none;
	font-family: 'MuseoSans-500';
}
*/



.nav-ct .sub-menu,
.nav-ct .children {
	background: #220e10;
	border:none;
	padding: 0;
	position: absolute;
	z-index: 99999;
	padding-left:0px;
	margin-left:-2px;
}

.utility-nav-ct{
	display:inline-block;
	position:relative;
	float:right;
	z-index: 999;
	padding:16px 0 0 0;
}


.utility-nav{
	display:inline-block;
	position:relative;
	float:left;
	width:32px;
	height:32px;
	background:#000;
	cursor:pointer;
	border-radius:50%;
	margin:0 0 0 8px;
}


.utility-nav:hover, .utility-on{
	background:#787304;
}

.utility-panel{
	display:inline-block;
	position:relative;
	overflow:hidden;
	float:left;
	height:64px;
	z-index:900;
	width:0px;
}

.utility-panel-inner{
	display:inline-block;
	position:relative;
	overflow:hidden;
	height:64px;
	width:auto;
	white-space: nowrap;
}

#phone-panel-inner{
	display:inline-block;
	position:relative;
	overflow:hidden;
	font-family:'MuseoSlab-100', sans-serif;
	color:#000;
	font-size:20px;
	padding:4px 16px 0 8px;
	text-align:center;
}

#phone-panel{
	height:32px;
}
#links-panel, .links-panel-inner{
	display:inline-block;
	position:relative;
	overflow:hidden;
	
}

.header-social-icons-ct{
	display:inline-block;
	position:relative;
	overflow:hidden;
	padding:8px 0 0 8px;

}

#bt-links, #bt-phone, #bt-search{
	 font-family: 'FontAwesome';
	 font-size:1.25em;
	 color:#fff;
	 text-align:center;
	 padding: 4px 0 0 0;
	 font-weight:normal;
}

#bt-links:after{
	content:'\f0c1';
}

#bt-phone:after{
	content:'\f095';
}

#bt-search:after{
	content:'\f002';
}
.header-social-icons{
	display:inline;
	position:relative;
	overflow:hidden;
	height:64px;
	font-size:1.25em;
	color:#000;
	padding:0px 0px 0 8px;
	white-space: nowrap;
	clear:none;
	
	
}

.header-social-icons:first-of-type{
	
}

.header-social-icons:last-of-type{
}


/* Primary Navigation */


	.primary-navigation .menu-toggle {
		display: none;
		padding: 0;
	}

	.primary-navigation .nav-menu {
		border-bottom: 0;
		display: block;
		padding:0px 0px 0 0;
	}

	.primary-navigation.toggled-on {
		border-bottom: 0;
		margin: 0;
		padding: 0;
	}

	.primary-navigation li {
		border: 0;
		display: inline-block;
		height: 76px;
		line-height: 48px;
		position: relative;
		padding:16px 0px 24px 0px;
	}

	.primary-navigation a {
		display: inline-block;
		white-space: nowrap;
		color:#000 !important;
		text-decoration:none;
		font-family: 'MuseoSans-300';
		text-transform:uppercase;
		font-size:14px;
		padding:0px 12px 0px 12px;
	}

.primary-navigation a:hover{
	color:#fff !important;
}
	.primary-navigation ul ul {
		background-color: #24890d;
		float: left;
		margin: 0;
		position: absolute;
		top: 76px;
		left: -999em;
		z-index: 99999;
		margin:0 0 0 -12px;
	}

	.primary-navigation li li {
		border: 0;
		display: block;
		height: auto;
		line-height: 1.0909090909;
		border-bottom:1px solid #fff;
		padding: 4px 4px 0px 4px;
		color:#fff !important;
	}
	
	.primary-navigation li li a {
	color:#fff !important;
	}

.primary-navigation li li:first-of-type {
		border-top:1px solid #fff;
	}
	
	.primary-navigation ul ul ul {
		left: -999em;
		top: 0;
	}

	.primary-navigation ul ul a {
		padding: 12px 12px;
		white-space: normal;
		width: 176px;
	}

	.primary-navigation li:hover > a,
	.primary-navigation li.focus > a {

	}


	.primary-navigation ul ul a:hover,
	.primary-navigation ul ul li.focus > a {
	
	}

	.primary-navigation ul li:hover > ul,
	.primary-navigation ul li.focus > ul {
		left: auto;
	}

	.primary-navigation ul ul li:hover > ul,
	.primary-navigation ul ul li.focus > ul {
		left: 100%;
	}

	.primary-navigation .menu-item-has-children > a,
	.primary-navigation .page_item_has_children > a {
		
	}

	.primary-navigation .menu-item-has-children > a:after,
	.primary-navigation .page_item_has_children > a:after {
		/*-webkit-font-smoothing: antialiased;
		content: "\f502";
		display: inline-block;
		font: normal 8px/1 Genericons;
		position: absolute;
		right: 12px;
		top: 22px;
		vertical-align: text-bottom;*/
	}

	.primary-navigation li .menu-item-has-children > a,
	.primary-navigation li .page_item_has_children > a {
		padding-right: 20px;
		width: 168px;
	}

	.primary-navigation .menu-item-has-children li.menu-item-has-children > a:after,
	.primary-navigation .menu-item-has-children li.page_item_has_children > a:after,
	.primary-navigation .page_item_has_children li.menu-item-has-children > a:after,
	.primary-navigation .page_item_has_children li.page_item_has_children > a:after {
		content: "\f501";
		right: 8px;
		top: 20px;
	}

/*****     EXPANDING SUBMENU     *****/

.sub-nav-menu-ct{
	display:block;
	overflow:hidden;
	top: 104px;
	padding:32px;
	
}

.sub-nav-menu-ct:before{
height:72px;
width:100%;
background:#404041;
border-bottom:8px solid #fff;
}

.nav-open{
	display:block;
}

 ul.sub-nav-menu{
	list-style:none !important;
	margin:0px 0 0 -16px !important;
	padding:0px;
}
/*
ul.sub-nav-menu li{
	display:table;
	float:left !important;
	padding:24px !important;
	margin:12px;
	width:120px;
	height:120px;
	text-align:center;
	border-radius:50%;
	font-family: 'MuseoSans-300';
	font-size:14px;
}

ul.sub-nav-menu li a{

	display:table-cell;
	vertical-align:middle;
	text-decoration:none;
	line-height:100%;
	color:#fff !important;
}
*/

.sub-nav-menu-ct a{
	color:#fff;
	text-decoration:none;
}
ul.sub-nav-menu li{
	margin:0px;
	padding:0px;

}

ul.sub-nav-menu li a{

	font-family: 'MuseoSans-300';
	font-size:14px;
	color:#fff !important;
}

ul.sub-nav-menu li a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
}

.submenu-ct{
	display:block;
	float: right;
	overflow:hidden;
	position:relative;
	width:10%;
}

.work .bt-submenu{
		background:#DB4F26;
}
.bt-submenu{
	display:block;
	width:40px;
	height:40px;
	margin:0;
	padding: 5px 0px 0px 1px;
	position:absolute;
	top:0px;
	right:24px;
	z-index:9999;
	color:#fff;
	text-align:center;
	border-radius:50%;
}

.bt-submenu:before{
	content: '\f0c9';
	font-family: FontAwesome;
	font-size:20px;	
	font-weight:lighter;
	cursor:pointer;
	text-align:center;
	}
	
.inline-nav-ct{
	display:block;
	position:relative;
	width:100%;
	clear:both;
}

.inline-nav-inner{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#fff;

}

.inline-nav-inner a{
	display:block;
	color:#fff !important;
	font-size:20px;
	line-height:24px;
	text-decoration:none;
	padding:16px;
	text-align:center;
	cursor:pointer;
}

ul.slidenav-ct{
	display:block;
	position:absolute;
	bottom:24px;
	left: 50%;
  	transform: translate(-50%,0);
	overflow:hidden;
	z-index:9999;
	margin:0px;
	padding:0px;
	list-style:none;
}

ul.slidenav-ct  li{
	border:1px solid #fff;
	border-radius:50%;
	width:20px;
	height:20px;
	float:left;
	margin:0px 4px;
}

.dot-nav-horizontal-ct{
	display:block;
	position:absolute;
	bottom:24px;
	left: 50%;
  	transform: translate(-50%,0);
	overflow:hidden;
	z-index:9999;
	margin:0px;
	padding:0px;
	list-style:none;
}

.dot-nav-vertical-ct{
	display:block;
	position:absolute;
	overflow:hidden;
	z-index:9999;
	padding:0px;
	list-style:none;
	float:right;
	margin:0;
	top:64px;
	right:12px;
}

.dot-nav{
	cursor:pointer;
	border:1px solid #fff;
	border-radius:50%;
	width:16px;
	height:16px;
	

}

.dot-nav-horizontal-ct .dot-nav{
	float:left;
	margin:0px 4px;
}

.dot-nav-vertical-ct .dot-nav{
	float:none;
	margin:4px 0px;
	width:16px;
	margin:0 0px 8px 0px;
}

.sidebar-nav{
	
	
}

.sidebar-closed{
	display:block;
	overflow:hidden;
	height:0px;
	padding:0px !important;
}

.sidebar-content{
	display:block;
	overflow:hidden;
	height:auto;
}