@charset "UTF-8";
/* CSS Document */



.clearfix{
	clear:both;
}
.content-wrapper{
	display:block;
	position:relative;
	max-width:1100px;
	margin:0px auto;
	float: none;
}

.one-col{
	display:block;
	position:relative;
	width:100%;
	height:100%;
}

.one-col-inner{
	padding:0px;
	width:100%;
}

.header-ct{
	
	width:74%;
	float:left;
	display:block;
	margin-bottom:24px;
	
}

.section{
margin:0px auto;
width:90%;
display:block;
position:relative;

}

.section-content{
	display:block;
	position:relative;
	overflow:hidden;
	margin:0px;
	padding:0px 32px 64px 32px;
	width:100%;
}

.main-content{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
}

.left-col{
	display:inline-block;
	position:relative;
	height:100%;
	float:left;
	text-align:left;
	padding:0 16px 16px 0;
}

.left-col img{
	width:100%;
	display:block;
	max-width:600px;
}

.right-col{
	display:inline-block;
	position:relative;
	overflow:hidden;
	width:50%;
	height:100%;
	padding-right:16px;
}

.two-col-ct{
	padding:0 0px;
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	background:#fff;
}

.home-row{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	height:200px;
	margin:0px 0px 24px 0px;
}
/*
.home-row:first-of-type{
	height:400px;
}
*/

.headline-ct{
	display:inline-block;
	float:left;
	width:90%;
	margin:0 0 16px 0;

}


.padded-col{
	padding:16px;
}
.col-container{
	display:table;
	position:relative;
	overflow:hidden;
	width:100%;
	height:400px;
}

.col-one{
	display:table-cell;
	position:relative;
	width:50%;
	vertical-align:middle;
}

.col-one-half{
	display:table-cell;
	position:relative;
	width:50%;
	vertical-align:top;
}

.col-inner{
	display:block;
	position:relative;
	overflow:hidden;
	max-width:426px;
	padding: 0px 32px 0px 32px;
	width:100%;
	
}

.wall-outer{
	max-height:400px !important;
}
.sidebar-left{
	display:inline-block;
	position:relative;
	float:left;
	width:25%;
	padding:1.75%;
}

.sidebar-right{
	display:inline-block;
	position:relative;
	float:right;
	width:22%;
	padding:0px 2px 1.5% 1.5%;
}

.content-left{
	display:inline-block;
	float:left;
	width:75%;
	position:relative;
}

.two-cols{
	display:inline-block;
	position:relative;
	float:left;
	width:67%;
	overflow:hidden;
}

.three-cols{
	display:inline-block;
	position:relative;
	float:right;
	width:70%;
	padding:0px 0px 0px 0px;
	margin:32px 0px 0px 0px;
}





.blank{
	background:#fff !important;
	width:67% !important;
	padding:0px 3% 8px 0px;
}


.three-cols-inner{
	display:block;
	position:relative;
	overflow:hidden;
	background:#fff;
	margin:0px 6% 16px 0px;
	padding:0px 3% 32px 0px;
	clear:both;
}



@media all and (max-width: 490px){
	

.col-inner{
	display:block;
	position:relative;
	overflow:hidden;
	max-width:426px;
	padding: 0px 32px 16px 32px;
	width:100%;
}
	

	
}