@charset "UTF-8";
/* CSS Document */

.wrapper{
	display:block;
	position:relative;

	width:100%;
	
	margin:0 auto;
}
.grid{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	margin:24px auto;
}

.grid-gutter{
	width:2%;
}

.grid-item{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
}

.grid-item img{
	width:100%;
}

.grid-item-w-25{
	width:23.5%;
}

.grid-item-w-33{
	width:32%;
}

.grid-item-w-50{
	width:49%;
}

.grid-item-w-67{
	width:66%;
}

.grid-item-w-75{
	width:74.5%;
}

.grid-item-w-100{
	width:100%;
}

.text-highlight-ct{
	display:block;
	position:relative;
	overflow:hidden;
}

.vert-center-outer{
	display:table;
	position:relative;
	overflow:hidden;
}

.vert-center-inner{
	display:table-cell;
	position:relative;
	overflow:hidden;
}

.text-highlight-inner{
	display:block;
	position:relative;
	overflow:hidden;

}
.text-highlight{

	padding:24px;
}

.ng-grid{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	margin:24px auto;
}

.ng-grid-gutter{
	width:2%;
}

.ng-grid-item{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
}

.ng-grid-item img{
	width:100%;
}

.ng-grid-item-w-25{
	width:25%;
}

.ng-grid-item-w-33{
	width:33.25%;
}

.ng-grid-item-w-50{
	width:50%;
}

.ng-grid-item-w-67{
	width:66.5%;
}

.ng-grid-item-w-75{
	width:75%;
}

.ng-grid-item-w-100{
	width:100%;
}

.text-block{
	width:100%;
	padding:24px;
}
.scroller{
	display:block;
	postition:relative;
	overflow:hidden;
	max-height:100%;
	

}

img{display:block;}

.highlight-ct{
	width:100%;
	display:table;
}
.highlight{
	display:table-cell;
	vertical-align:middle;
	font-size:1.5em;
	font-family:'MuseoSlab-100', serif;
	padding:48px;
}

.highlight .semi-bold{
	font-family:'MuseoSlab-500', serif;
}

.services-outer{
	background:#999;
}

.services-inner{
	color:#fff;
	padding:24px;
}

.services-inner h2{
	font-family:'MuseoSans-300', sans-serif;
	font-size:1.25em;
}
.scroller .post-list-ct{
padding:32px;
}

.scroller .dot
/**********
ARTICLES CLASSES
***********/
.md-article-item{
	display:block;
	position:relative;
	padding:32px;
	height:100%;
	width:100%;
	overflow:hidden;
	height:auto;
}

.md-article-item:first-of-type{
	display:block;
}

.md-ra-author{
	font-family: 'MuseoSans-300';
	font-size:14px;

}

.md-ra-date{
	font-family: 'MuseoSans-300';
	font-size:12px;

}	

.md-ra-blurb{
	font-family: 'MuseoSans-300';
	font-size:14px;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

.home-case{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
}

.home-case img{
	display:block;
	width:100%;
	z-index:20;
}

.hm-case-label-ct{
	display:block;
	position:absolute;
	overflow:hidden;
	width:100%;
	min-height:32px;
	bottom:0px;
	left:0px;
	padding:8px;
	z-index:30;
}
.hm-case-label{
	display:block;
	position:absolute;
	overflow:hidden;
	bottom:0px;
	left:0px;
	background:#000;
	width:100%;
	height:100%;
	opacity:.6;
	z-index:40;
	
}

.hm-case-label-text{
	display:block;
	position:relative;
	overflow:hidden;
	color:#fff;
	font-size:1em;
	z-index:60;
	opacity:1 !important;
	text-align:center;
}